#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #90e0ef;
    min-width: 960px;
    max-width: 2048px;
}

#bostonpic{
    background-image: url(pics/Nightlife.jpg);
    height: 25em;
    background-size: 100% 100%;
}

body{
    background-image: linear-gradient(#ade8f4,#005f73);
}

main{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 80%;
    text-align: center;
}

ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #0a2239;
    text-align: center;
    padding-top: 0.625em; 
    padding-bottom: 0.937em;
    height: 3.75em;
    color: #f2e9e4;
    background-image: radial-gradient(circle, #1b3a4b,#014f86,#0091ad);
    background-repeat: no-repeat;
}

footer{
    text-align: center;
    font-size: 75%;
    padding: 5% 3% 1%;
}

nav { 
    background-color: #f2e9e4;
    font-weight: bold; 
    text-align: center;
    padding: 1.25em;
    color: #0a2239;
}

nav a{
    text-decoration: none;
    color: #0a2239;
    text-align: center;
    padding: 0.875em 1em;
}
nav a:hover{
    color: #f2e9e4;
    background-color: #0a2239;
}
.active {
    background-color: #0091ad;
}
.restaurant2{
    background-image: url(pics/giuliapic.jpg);

}
.restaurant1{
    background-image: url(pics/we-ordered-khao-soi-which.jpg);
}
.restaurant3{
    background-image: url(pics/tasting-counter.jpg);
}
.style-img{
    height: 300px;
    background-repeat: no-repeat;
    float: left; 
    margin-left: 2%;
    margin-right: 1.25em;
    width: 30%;
    margin-top: 1.2em;
}

h2{
      text-align: right;
      display:inline-flex;
}
.sizing{
      padding-bottom: 15%;
      height: 200px;
} 
.tourist1{
    background-image: url(pics/freedom-trail.jpg);
}
.tourist2{
      background-image: url(pics/fenwaypark.jpg);
}
.tourist3{
      background-image: url(pics/bostoncommon.jpg);
}
.university1{
      background-image: url(pics/harvard.jpg);
}
.university2{
    background-image: url(pics/mit.jpg);
} 
.university3{
    background-image: url(pics/neu.jpg);
}
.event1{
    background-image: url(pics/hub.jpg);
}
.event2{
     background-image: url(pics/liberty.jpg);
} 
.event3{
     background-image: url(pics/rcc.jpg);
}
#container{
    width: 50%;
    margin-left: 38%;
}
input[type="text"]{
    width: 40%;
    padding: 12px 20px;
    border:2px solid #000;
    border-radius: 4px;
    margin: 8px 0;
}
input[type="submit"]{
    background-color: forestgreen;
    color: ghostwhite;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 13%;
    margin-top: 5%;
}
input[type="submit"]:hover{
    background-color: darkgreen;
}
textarea{
    border-radius: 4px;
    border:2px solid #000;
    width: 45%;
    margin: 8px 0;
}
#align-center{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
span{
    font-style: italic;
    font-size: 20px;
    color: #023e8a;
}